html,body{
    height:100%;
    background-color: #676767 !important;
};
body{
    font-family: Roboto;
}
h1,h2,h3,h4{
    font-family: Roboto-Bold;
    margin: 0;
}
/*BOOTSTRAP OVERRIDE*/

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    padding-top: 15px;
    border-top: 4px solid #276DA4;
    border-bottom-color: #fff;
    color: #276DA4;
    background-color: #fff;
    border-left-style: none;
    border-right-style: none;
}
.nav-tabs.nav-justified>li>a {
    color: #777777;
    border-top: 4px solid #777777;
    border-bottom: 1px solid #BCBCBC;
    border-radius: 4px 4px 0 0;
/*    margin-bottom: -1px;*/
    background-color: #BCBCBC;
    border-left-style: none;
    border-right-style: none;
}
.nav-tabs.nav-justified>li>a:hover {
    border-left-style: none;
    border-right-style: none;
}
.btn-default{
    background-color: #CFCFCF;
}

.forgot-pass{
    color: #959595;
    font-size: 11px;
}
/* front box */

.front-box {
    background-color: #f6f6f5;
    border-radius: 5px;
    margin-top: 100px;
    overflow: hidden;
    box-shadow: 0px 0px 90px #505050;
}

@media (max-width: 768px) {
    .front-box {
        margin-top: 0px;
    }
}

.front-box .front-header {
    background-color: #8ADBFF;  
    padding: 25px 0;
    text-align: center;
    border-bottom:  5px solid #71BBE3;
}

.front-box .front-header img{
    display: inline-block;
}

.front-box .front-sub-header {
    background-color: #CFCDCE; 
    color: #143756;
    padding: 20px 10px 5px 10px;
    text-align: center;
}

.front-box .front-sub-header h2{
    margin-top: 0;
}

.front-box .front-sub-header h2 + p{
    margin-bottom: 0;
}

.front-box .front-body {
    background-color: #CFCDCE; 
    margin: 0 auto;
/*    max-width: 400px;*/
    padding: 20px 15px 70px 15px;
    vertical-align: middle;
}

.front-box .login-tabs{
    max-width: 470px;
    margin: 0 auto;
}
.front-box nav{
    width:500px;
}
.front-box .tab-content{
    background-color: #FFFFFF;
    height: 300px;
    padding: 30px 60px 20px 60px;
/*    width: 100%;*/
}