html, body,
.container-fluid,
.container,
.row-maintenance,
#wrapper, .jumbotron,
#page-content-wrapper{
    height: 90% !important;
}

.apple-green{
  color: #87CE2D;
}
.gray{
  color:#848484;
}
.sky-blue{
  color:#4588F1;
}
.red{
  color:#D9534F !important;
}
.orange{
  color:#D9904F !important;
}
.purple{
  color: #D94FD4 !important;
}


.row-maintenance > .col-md-4{
  height: 50%;
  text-align: center;
  vertical-align: middle;
}
.row-maintenance .fa{
  font-size: 57px;
  padding: 20px 0;
}
.row-maintenance .jumbotron{
  text-align: center;
}
.row-maintenance .icon1{
  border-radius: 150px;
  background-color: #87CE2D;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  color: white;
}
.row-maintenance .icon2{
  border-radius: 150px;
  background-color: #4588F1;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  color: white;
}
.row-maintenance .icon3{
  border-radius: 150px;
  background-color: #D9904F;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  color: white;
}

.row-maintenance .icon4{
  border-radius: 150px;
  background-color: #D94FD4;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  color: white;
}

.row-maintenance .icon5{
  border-radius: 150px;
  background-color: #D9534F;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  color: white;
}


.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}
a:hover{
  text-decoration: none;
}

.headermost{
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
#matherial-main-container tbody > tr >td:nth-child(1),
#matherial-main-container tbody > tr >td:nth-child(4),
#mothercode-main-container tbody > tr >td:nth-child(1),
#mothercode-main-container tbody > tr >td:nth-child(3),
.user-table tbody > tr >td:nth-child(5),
.user-table tbody > tr >td:nth-child(6){
  vertical-align: middle;
  text-align: center;
}

.matherial-main-container thead{
    background-color: #FFFFFF;
    /*font-size: 20px;*/
}
#matherial-main-container{
  /*font-size: 20px;*/
}
.material-view{
    margin-top: 60px !important;
    padding: 50px 10% 60px 10% !important;
}

.side-menu{
  background-color: #313131;
  height: auto;
  width: auto;
  margin: -20px;
  padding: 20px 20px 20px 0;
  text-align: left;
}
.side-menu .fa{
  padding: 0 10px 0 10px;
  font-size: 20px
}


/* FILE UPLOAD style 6 */
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

 /* Style-6 */
.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}
