body {
    font-family: Roboto;
}


/*
 * Global add-ons
 */
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

.header{
    border-bottom: 2px solid #1F497D;
}
.header .b1{
    width:265px;
    color: #003F5E;
}
.logo{
    height: auto;
    width: 190px;
}
h1{
    font-size: 20px;
}
.material-description{
/*    border: 1px solid #f4f4f4;*/
}

.mat-pic-container{
    border: 0.1px solid #A6A6A6;
}
.mat-pic{
    height: 300px;
    width: 500px;
    text-align: center;
}

.head{
/*    background-color: #bdbdbd;*/
     background-color: #0078AD;
    color: white;
    text-align: center;
    font-size: 12px;
}

.bg-gray{
    
}
.md{
/*    color: #A6A6A6;*/
/*    color: darkgray;*/
    font-size: 13px;
}
.mn{
    color:gray;
}
.mat-no{
    font-size: 14px;
    border: 0.1px solid #A6A6A6;
}
.mat-id{
    color: black;
}
.mat-desc{
    font-size: 12px;
/*    border: 0.1px solid black;*/
    border: 0.1px solid #A6A6A6;
}
.mat-longdesc{
    font-size: 12px;
/*    text-align: center;*/
    vertical-align:middle;
    border: 0.1px solid #A6A6A6;
}
.gray-txt{
/*    color: gray;*/
    color: #585858;
}
.black-bb{
    border: 0.1px solid black;
}
.blue-bb{
/*    border: 0.1px solid #bdbdbd;*/
    border: 0.1px solid #003F5E;
    font-size: 12px;
}
.gray-bb{
    border: 0.1px solid #A6A6A6;
}
.black-bb-center{
    border: 0.1px solid black;
    text-align: center;
}
.gray-bb-center{
    border: 0.1px solid #A6A6A6;
    text-align: center;
}
.center{
    text-align: center;
    vertical-align: middle;
}